<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<h1 th:text="${host}">Hello World</h1>
	<table>
       <thead>
           <th></th>
       </thead>
       <tbody>
            <tr th:each="test:${test}">
                <!--判断成绩-->
                <td th:if="${test.Score} gt 0 and ${test.Score} lt 60">差</td>
                <td th:if="${test.Score} ge 60 and ${test.Score} le 70">中</td>
                <td th:if="${test.Score} gt 70 and ${test.Score} le 80">良</td>
                <td th:if="${test.Score} gt 80 and ${test.Score} le 90">优</td>
                <td th:if="${test.Score} gt 90 and ${test.Score} le 100">超级优秀</td>
            </tr>
            <br>
            <tr th:each="test:${test}">
                <!--判断成绩   一般只有两种情况的时候可以使用这种方式-->
                <td th:if="${test.Score} gt 0 and ${test.Score} lt 60">差</td>
                <!--除了这些条件之外的-->
                <td th:unless="${test.Score} gt 0 and ${test.Score} lt 60">及格</td>
            </tr>
            <tr th:each="test:${test}">
                <td th:switch="${test.male}">
                    <span th:case="1">男</span>
                    <span th:case="2">女</span>
                    <!--其他情况-->
                    <span th:case="*">未知</span>
                </td>
            </tr>

       </tbody>
   </table>
	<div th:fragment="footer">
    © 2018 xxx
</div>
</body>
</html>